


.chat-window {  
    position: relative;
    top: 150px;
    left: 500px;
    box-sizing: border-box;
    width: 500px;
    background-color: #c9dcff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #b3c0db;
    
}

.hidden {
    display: none;
}



#chat-page ul {
    list-style-type: none;
    background-color: #FFF;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: calc(100% - 150px);
}