<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="/fragments/aroma-main-fragments :: head(title = 'order')"></head>

<body>
    <!--================ Start Header Menu Area =================-->
    <header th:replace="/fragments/aroma-main-fragments :: header" class="header_area"></header>
    <!--================ End Header Menu Area =================-->




    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <form th:object="${deliveryInfo}" th:action="@{'~' + ${flowExecutionUrl}}" method="POST">
                        <h2 class="display-5">Enter delivery Info</h2>
                        <br>
                        <div class="form-group">
                            <input th:field="*{city}" type="text" class="form-control" id="City" placeholder="City">
                        </div>
                        <div class="form-group">
                            <input class="form-control" th:field="*{street}" type="text" name="street" id="street"
                                placeholder="street">
                        </div>
                        <div class="form-group">
                            <input class="form-control" th:field="*{house}" type="number" name="house"
                                placeholder="house" id="house">
                        </div>
                        <div class="form-groupe">
                            <input type="text" name="phone" id="phone" placeholder="phone" class="form-control"
                                th:field="*{phone}">
                        </div>
                        <br>
                        <button name="_eventId_cart" type="submit" class="btn btn-secondary float-left">Back</button>
                        <button name="_eventId_payment" type="submit"
                            class="btn btn-primary float-right">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->



    <!--================ Start footer Area  =================-->
    <footer th:replace="/fragments/aroma-main-fragments :: footer" class="footer"></footer>
    <!--================ End footer Area  =================-->



    <div th:replace="/fragments/aroma-main-fragments :: scripts"></div>

</body>

</html>